<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
                        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <bean id="exampleServiceBean" class="impl.ExampleServiceImpl"/>
    <bean id="secondServiceBean" class="impl.SecondServiceImpl"/>

    <jaxrs:server id="exampleServer" address="/example">
        <jaxrs:serviceBeans>
            <ref bean="exampleServiceBean"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
            <cxf:logging/>
        </jaxrs:features>

        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
        </jaxrs:providers>
    </jaxrs:server>

    <jaxrs:server id="secondServer" address="/second">
        <jaxrs:serviceBeans>
            <ref bean="secondServiceBean"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
            <cxf:logging/>
        </jaxrs:features>

        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
        </jaxrs:providers>
    </jaxrs:server>

</beans>